.nav-link {
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    transition: color 0.2s;
}

.nav-link:hover {
    color: primary;
}

.nav-link-active {
    color: #9F62F2;
    font-weight: 600;
}