@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
    --color-primary: [#632EE3];
    --color-secondary: [#9F62F2];
}

body {
    font-family: 'Inter', sans-serif;
}